# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

debug/
cmake-build-debug/
.idea/
/cmake-build-debug/
build/
lib/
ncurses-6.4/
.vscode/settings.json
.gitignore
ncurses.tar.gz
.DS_Store
